.toolbar {
   background: #000000;
   white-space: nowrap;
/*   position: fixed;*/
   position: relative;
/*   position:absolute;*/
   -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
   box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
   z-index: 1001;
}

.headerToolbarDiv {
   /*overflow: auto !important;*/
   left: 0px;
   right: 0px;
}

.footerToolbarDiv {
   overflow: auto;
   text-align: center;
   width: 100%;
   bottom: 0px;
}

.verticalDivider {
   margin: 0 10px;
   border-left: 1px solid silver;

}

.btn{
   height: 55px;
   padding: 0px 1px;
}

.checked {
   outline: 1px solid #62a2e4;
   border-radius: 0px;
   background-color: #c9e0f7 !important;
}

button[disabled] {
    outline: none;
    border-radius: 0px;
    opacity: .2 !important;
}

.toolbar > .btn:focus, .toolbar > .btn-group > .btn:focus {
   background-color: #eeeeee !important;
   border-radius: 0px;
   outline: none;
   outline-offset: 0px;
}

/* 竖向按钮的样式 */
.verticalToolBar > .btn:focus,.verticalToolBar > .btn-group-vertical >.btn:focus{
   background-color: #eee !important;
   border-radius: 0px;
   outline: none;
   outline-offset: 0px;
  margin-right: 10px;
}
.toolbar > .btn-group > .btn:focus {
   background-color: #eee !important;
}

.toolbar > .btn:active, .toolbar > .btn-group > .btn:active {
   background-color: #eee !important;
   -webkit-box-shadow: none;
   box-shadow: none;

}

.toolbar > .btn-group > .dropdown-toggle {
   -webkit-box-shadow: none;
   box-shadow: none;
}

.toolbar .btn-group .dropdown-menu li{
   padding-left: 20px;
   padding-top: 5px;
   padding-right: 10px;
   padding-bottom: 5px;
}

.toolbar .btn-group .dropdown-menu li img{
    float: left;
    width: 128px;
    height: 20px;
    border: 1px solid #000;
 }

.toolbar .btn-group .dropdown-menu li span{
   margin-left: 15px;
}
.toolbar > .btn-group > .dropdown-menu {
   width: 250px;
   background-color: #eee;
   border-radius: inherit;
   margin: inherit;
   border-top: 1px solid #eee;
   border-left: 0px;
}

.toolbar > .btn.checked:focus {
   outline: 1px solid #62a2e4;
   outline-offset: 0px;
}

.dropdown-menu {
   text-align: left;
}

.toolbarBtnText {
   display: inline;
   position: relative;
   top: 10px;
   vertical-align: top;
}

@media screen and (max-width: 768px) {
   .toolbarBtnText {
      display: none; /* hide header toolbar buttons text(if used) on small display */
   }
}

/*加上tag信息弹窗的样式*/
.modal-dialog1 {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.modal-content1 {
   /*overflow-y: scroll; */
   position: absolute;
   top: 0;
   bottom: 0;
   width: 100%;
}

.modal-body1 {
   overflow-y: scroll;
   position: absolute;
   top: 55px;
   bottom: 65px;
   width: 100%;
}

.modal-header1 .close {margin-right: 15px;}

.modal-footer1 {
   position: absolute;
   width: 100%;
   bottom: 0;
}
